@media (max-width: 580px) {
	.cols-2 {
		width: 100%;
	}
	.cols-3 {
		width: 100%;
	}
	#hero {
		.profile {
			.profile-name {
				h1 {
					font-size: 1.5rem;
				}
			}
			.profile-img img {
				width: 150px;
			}
			.profile-desc {
				p {
					width: 100%;
				}
				h2 {
					font-size: 2rem;
				}
			}
			.profile-btn {
				margin-top: 25px;
				button.hire {
					width: 180px;
					padding: 7px 15px;
				}

			}
		}
	}
	section.project {
		margin-bottom: 0;
		.project-title {
			margin-bottom: 20px;
			width: 260px;
			h2 {
				font-size: 1.3rem;
			}
		}
		.client {
			margin-bottom: 30px;
		}
	}
	div.highlights {
		// margin: 20px;
		.highlight-item {
			.highlight-image {
				img {
					width: 55%;
				}
			}
		}
	}
	.home-posts {
		margin-bottom: 25px;
		.MuiGrid-spacing-xs-16-89 > .MuiGrid-item-67 {
			margin-bottom: 15px;
		}
	}
	.footer {
		.social {
			.social-title {
				width: 270px;
				top: -58px;
  			left: calc(50% - 135px);
				h2 {
					font-size: 32px;
				}
			}
		}
		.footer-contact {
			.phone, .email {
				margin-bottom: 15px;
			}
			h3 {
				font-size: 1.3rem;
			}
		}
		.copy {
			padding: 30px 0;
			p {
				font-size: 17px;
			}
		}
	}
}
@media (max-width: 730px) {
	.MuiAppBar-root-1 {
		.MuiToolbar-gutters-38 {
			ul.navigation {
				display: none;
			}
			.MuiIconButton-root-41 {
				position: absolute;
    		right: 25px;
			}
		}
	}
	#header {
		padding: 10px 0;
		.logo {
			a {
				margin-left: 0;
				img {
					margin-left: 0;
					height: 45px;
				}
			}
		}
	}
}
@media (min-width: 731px) {
	.MuiAppBar-root-1 {
		.MuiToolbar-gutters-38 {
			ul.navigation {
				display: flex;
			}
			.MuiIconButton-root-41 {
				display: none;
			}
		}
	}	
}