body {
  font-family: Roboto, Oxygen, sans-serif;
}
p {
  color: $dark;
}
.img-resp {
  max-width: 100%;
}
.logo {
  width: 20%;
  a {
    padding: 0 10px;
    display: inline-block;
    margin-left: 10px;
    img {
      height: 60px;
    }
  }
}
ul.navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 80%;
    list-style: none;
    margin: 0;
    padding: 0;
  li {
    a {
      text-transform: uppercase;
      font-size: 17px;
      color: $white;
      display: block;
      font-weight: 400;
      text-decoration: none;
      padding: 24.5px 16px;
    }
    a.is-active {
      color: #0f69c3;
      font-weight: 500;
      border-bottom: 4px solid $white;
      color: $white;
    }
  }
}
#hero {
  background-color: $blue;
  min-height: 760px;
  .profile {
    width: 80%;
    margin: 0 auto;
    padding-top: 70px;
    text-align: center;
    .profile-img {
      text-align: center;
      img {
        margin-top: 50px;
        width: 180px;
        border-radius: 50%;
      }
    }
    .profile-name {
      h1 {
        margin-top: 25px;
        color: $white;
        font-size: 2.7rem;
        text-transform: uppercase;
        font-weight: 300;
      }
    }
    .profile-desc {
      p {
        color: $white;
        font-size: 1.1rem;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 30px;
      }
      h2 {
        color: $white;
        font-size: 2.4rem;
        text-shadow: 2px 3px 2px $dark;
        font-weight: 100;
      }
    }
    .profile-btn {
      margin-top: 50px;
      button.hire {
        border: 2px solid $white;
        background-color: transparent;
        color: transparent;
        color: $white;
        font-size: 1.2rem;
        padding: 10px 15px;
        width: 240px;
        text-transform: uppercase;
        border-radius: 50px;
        transition: all 0.4s;
      }
      button.hire:hover {
        background-color: $white;
        color: $blue;
      }
    }
  }
}
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}
.highlights {
  width: inherit;
  margin: 170px 0;
  .highlight-item {
    margin-bottom: 20px;
    .highlight-image {
      width: 60%;
      margin: 0 auto;
      text-align: center;
      img {
        width: 45%;
        margin-bottom: 15px;
      }
    }
  }
  .highlight-text {
    text-align: center;
    h3 {
      text-transform: uppercase;
      font-size: 18px;
      color: $dark;
    }
    p {
      color: $gray;
      width: 90%;
      margin: 0 auto;
    }
  }
}
section.project {
  margin-bottom: 50px;
  position: relative;
  .project-title {
    width: 320px;
    padding: 10px 15px;
    border-radius: 40px;
    background: transparent;
    border: 2px solid;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 90px;
    h2 {
      text-transform: uppercase;
      margin: 0;
    }
  }
  .project-text {
    text-align: center;
    margin-top: 15px;
    padding: 0 10px;
    a {
      text-decoration: underline;
      h3 {
        text-transform: uppercase;
        font-size: 1.3rem;
      }
    }
    p {
      font-size: 1.1rem;
      text-align: left;
    }
  }
  .client {
    .client-data {
      text-align: center;
      margin: 40px 0;
      img {
        width: 170px;
        border-radius: 50%;
      }
      h3 {
        font-size: 1.5rem;
        margin-top: 12px;
        span::before {
          content: "|";
          font-size: 1.6rem;
          display: inline-block;
          margin-right: 15px;
          color: $gray;
          font-weight: 300;
        }
        span {
          font-size: 0.9rem;
          text-transform: uppercase;
          color: $gray;
          margin-left: 10px;
        }
      }
    }
    .client-remarks {
      padding: 10px;
      border: 1.5px dashed silver;
      text-align: center;
      width: 90%;
      margin: 0 auto;
      position: relative;
      img.quote {
        width: 30px;
        position: absolute;
        top: -17px;
        left: 10px;
        background: white;
        padding: 5px;
      }
      p {
        color: $dark;
        padding-left: 10px;
        font-size: 1.1rem;
      }
    }
  }
}
section.home-posts {
  padding: 40px 0 100px;
  .home-post-title {
    margin-bottom: 50px;
    h2 {
      font-size: 2.8rem;
      font-family: Comfortaa, cursive;
      text-align: center;
    }
  }
  .home-post-item {
    text-align: center;
    height: inherit;
    .home-post-image {
      text-align: center;
    }
    .home-post-text {
      text-align: center;
      .home-post-heading {
        color: $dark;
        h3 {
          margin: 0;
          font-size: 1rem;
          text-transform: uppercase;
        }
      }
      p {
        color: $gray;
        font-size: 1rem;
        margin:10px 0;
        text-align: left;
      }
    }
    .home-post-link {
      width: 153px;
      background: $dark;
      background: linear-gradient(0deg, $dark 30%, $dark 70%);
      padding: 7px;
      margin: 0 auto;
      border-radius: 35px;
      transition: all 3s;
      a {
        color: $white;
        text-decoration: none;
        background-color: transparent;
        text-transform: uppercase;
        font-size: 1rem;
        padding: 10px 15px;
      }
    }
    .home-post-link:hover {
      background: $blue;
      background: linear-gradient(55deg, #223 22%, $blue 70%);
    }
  }
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.footer {
  background-color: $dark;
  margin-top: 80.2px;
  .social {
    .social-wrapper {
      width: 300px;
      margin: 0 auto;
      padding-top: 30px;
      .social-group {
        list-style: none;
        margin: 0;
        padding: 0;
        .social-item {
          float: left;
          width: 50px;
          height: 50px;
          text-align: center;
          margin: 0 12.5px;
          border: 1px solid #fff;
          border-radius: 50%;
          transition: all 0.4s;
          a {
            color: $white;
            text-decoration: none;
            font-size: 27px;
            margin: 0;
          }
        }
        .social-item:hover {
          color: $blue;
          border: 1px solid $blue;
          a {
            color: $blue;
          }
        }
      }
    }
  }
  .footer-contact {
    color: $white;
    font-size: 17px;
    margin-top: 35px;
    .phone, .email {
      text-align: center;
      margin-bottom: 10px;
      h3 {
        font-family: Comfortaa, cursive;
        text-transform: uppercase;
      }
      p {
        margin: 0;
        color: $white;
      }
    }
  }
  .copy {
    padding: 35px;
    p {
      color: white;
      font-size: 18px;
      text-align: center;
      margin: 0;
    }
  }
}
.cols-3 {
  float: left;
  width: 31.33%;
  margin: 0 1%;
}
.cols-2 {
  float: left;
  width: 48%;
  margin: 0 1%
}
.feedback-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 3.8rem;
}
a.side-link {
  color: $dark;
  text-decoration: none;
  background-color: transparent;
  padding: 10px 80px;
  font-size: 1rem;
  width: 230px;
  transition: all 0.3s;
  margin-bottom: 3px;
  text-transform: uppercase;
}
a.side-link:hover {
  background: #e8e8e8;
}
a.side-active {
  background: #e8e8e8;
}
.cycle-slideshow {
  height: 200px;
  width: 600px;
  margin: 0 auto;
}
.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  .loading-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}